.products_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.products-nav_container {
  padding: 23px;
  justify-content: space-between;
  display: flex;
}
.div_left {
  display: flex;
  gap: 23px;
}
.div_right {
  display: flex;
  gap: 23px;
}
.card_div {
  margin: 23px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  align-items: center;
}
